<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>App Flask-WTF</title>
</head>
<body>
    <h1>App Flask-WTF</h1>
    <p>Escolha uma das opções abaixo para ver os formulários em ação</p>
    <ul>
        <li><a href="{{ url_for("formulario") }}">Formulário em branco</a></li>
        <li>Formulário preenchido (com argumentos)</li>
        <li>Formulário preenchido (com objeto)</li>
    </ul>
</body>
</html>